.App {
  font-family: sans-serif;
  /* text-align: center; */
}
.nested-folder {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.root-folder {
  display: flex;
  width: 40%;
  justify-content: space-between;
  background-color: beige;
  padding: 5px;
}
.input-container {
  padding-left: 25px;
}
.input-container > span {
  margin-right: 5px;
}
